 body{ 
    background-color: whitesmoke;
    overflow-y: auto;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }
 span a, .dropbtn {
   display: inline-block;
   color: white;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   font-family: fantasy;
   font-size:20px;
 }
 
 span a:hover, .dropdown:hover .dropbtn {
   background-color: white;
   color: black;
   font-family: fantasy;
   font-size:20px;
 }
 
 span.dropdown {
   display: inline-block;
 }
 
 .dropdown-content {
   display: none;
   position: absolute;
   background-color: #f9f9f9;
   min-width: 160px;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   z-index: 1;
   font-family: fantasy;
   font-size:20px;
 }
 
 .dropdown-content a {
   color: black;
   padding: 12px 16px;
   text-decoration: none;
   display: block;
   text-align: left;
 }
 
 .dropdown-content a:hover {background-color: #f1f1f1;}
 
 .dropdown:hover .dropdown-content {
   display: block;
 }
 
 #homepageHeading{
    text-align: center;
 }

 #footer{
   clear: both;
   text-align: center;
   background-color: rgb(133, 57, 57); 
   padding: 20px 20px;
}

#footer img{
   cursor: pointer;
}

em{
   color: white;
}

#footer #footer-aboutMeLink, #footer-homePageLink, #footer-contactFormLink{
   text-decoration: underline;
   color: white;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-size:20px;
}

 #header{
    overflow: hidden;
    text-align: center;
    background-color: rgb(133, 57, 57); 
    padding: 10px 10px;
 }
 #header #aboutMeLink, #homePageLink, #contactFormLink{
    text-decoration: none;
    color: white;
    font-family:fantasy;
    font-size:20px;
 }
 #header #aboutMeLink:hover, #homePageLink:hover, #contactFormLink:hover{
    text-decoration: underline;
 }
 #my_image{
     float: left;
 }
 #heading{
    text-align: center;
 }
 #education #ud_image{
    float: left;
 }
 #hobbiesInterests{
    overflow: hidden;
 }
 #singing-img-text{
     float:left;
     margin-left: 150px;
 }
 #meditation-img-text{
    float:left;
    margin-left: 230px;
 }
 #nature-img-text{
    float:left;
    margin-left: 90px;
 }
 #sports-img-text{
    float:left;
    margin-left: 150px;
 }
 #interestingFact #small_baby_image{
    float: left;
 }
 #webDevelopmentAspect{
    clear: both;
 }
 #bulleted-list{
    list-style-position:inside;
 }

 #form-container{
    position: relative;
    left: 200px;
    top: 100px;
 }

 #contact_form{
    position: relative;
    left: 400px;
    top: -150px;
 }

 #user_fname, #user_lname, #user_email, #user_phone{
    width: 300px;
    height: 30px;
 } 

 button{
    font-size: 20px;
    width: 250px;
    height: 100px; 
    color:black; 
    padding: 10px 10px; 
    border-radius: 12px;
    transition-duration: 0.4s;
 }

 button:hover{
    background-color: black;
    color: white;
 }